html, body {
    height: 100%;
 }

body {
    display: flex;
    align-items: center;
    justify-content: center;
 }

#main {
    border: 4px solid black;
    overflow: hidden;
    background: #61ddf7;
    position:relative;
 }

 canvas {
     position: absolute;
 }